/* Sidebar.css */
#sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
  background: #0b0513;
  border-right: 2px solid #656565;
}

.sidebar-header {
  padding: 20px;
  text-align: center; /* Centramos el texto del header */
}

.sidebar-header img {
  margin-left: 50px;
  width: 100px; /* Ajustamos el ancho de la imagen */
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul li {
  margin-bottom: 10px;
}

#sidebar ul li a {
  padding: 10px 15px;
  font-size: 1.1em;
  display: flex; /* Hacemos que los íconos y el texto estén en línea */
  align-items: center; /* Centramos verticalmente los íconos y el texto */
  color: #dcdcdc;
  text-decoration: none; /* Quitamos el subrayado de los enlaces */
}

#sidebar ul li a:hover {
  background-color: #333;
  color: #fff; /* Cambiamos el color del texto al hacer hover */
}

#sidebar ul li a i {
  margin-right: 10px; /* Añadimos espacio entre el ícono y el texto */
}

#sidebar .list-unstyled.components li.active {
  background-color: #1e1e1e; /* Cambia el color del li activo en el sidebar */
}

.logout {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
}

.logout a {
  color: #dcdcdc;
}

.logout a:hover {
  color: #fff;
}

/* Media query para dispositivos con un ancho máximo de 768px */
@media (max-width: 768px) {
  #sidebar {
    width: 80px; /* Reducimos el ancho del sidebar */
    text-align: center;
  }

  #sidebar img{
    display: none;
  }

  #sidebar ul li a {
    padding: 10px; /* Reducimos el espacio entre los íconos */
  }

  #sidebar span{
    display: none;
  }

  #sidebar ul li a span {
    display: none; /* Ocultamos el texto de los enlaces */
  }
}
