 .d-flex {
    min-height: 100vh; /* Establecer altura mínima del contenedor al 100% de la ventana del navegador */
    display: flex;
  }

  .content {
    color: #efefef;
    margin-left: 250px;
    padding: 20px;
    background: #13091f;
  }
  