 .d-flex {
    min-height: 100vh; /* Establecer altura mínima del contenedor al 100% de la ventana del navegador */
    display: flex;
  }

  .content {
    color: #efefef;
    margin-left: 250px;
    padding: 20px;
    background: rgb(82,82,82);
    background: linear-gradient(270deg, rgba(82,82,82,1) 0%, rgba(0,0,0,1) 100%);
  }
  