body {
    font-family: "Lato", sans-serif;
}

h2 img {
    width: 20%;
}

.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
    background: rgb(82,82,82);
    background: linear-gradient(270deg, rgba(82,82,82,1) 0%, rgba(0,0,0,1) 100%);
    color: #dcdcdc;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 50%;
    }

    .register-form{
        margin-top: 10%;
    }
}

.registerLogin-link {
    text-align: center;
    margin-top: 40px;
  }  

.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #dcdcdc;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #dcdcdc;
}

.eye {
    margin-right: 2px;
    display: flex;
    align-items: center;
  }
  
  .eye img {
    width: 25px; /* Ajusta el tamaño según sea necesario */
  }